body {
  background-color: #e9ebee;
}

.card {
  margin-top: 1em;
}

/* IMG displaying */
.person-card {
  margin-top: 5em;
  padding-top: 5em;
}
.person-card .card-title{
  text-align: center;
}
.person-card .person-img{
  width: 10em;
  position: absolute;
  top: -5em;
  left: 50%;
  margin-left: -5em;
  border-radius: 100%;
  overflow: hidden;
  background-color: white;
}
.quote-card.blue-card {
  background: #0078FF;
  color: #ffffff;
  box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.quote-card.blue-card:before, .quote-card.blue-card:after {
  color: #5FAAFF;
}
